*{
    background: #ADB6C4;
}

input{
  border-radius: 10px; /* You can adjust the radius value to your preference */
  padding: 10px; /* Optional: Add some padding for better aesthetics */
  border: 1px solid #2d2d34; /* Optional: Add a border for better visibility */
  background: #cdd3db;
}

.container{
    padding-left: 200px;
    font-size: 18px;
    color: #2d2d34;
    text-align:left;
}
textarea{
  border-radius: 10px; /* You can adjust the radius value to your preference */
  padding: 10px; /* Optional: Add some padding for better aesthetics */
  border: 1px solid #2d2d34; /* Optional: Add a border for better visibility */
  background: #cdd3db;


  height: 300px;
  width: 750px;
  resize: none;
}

.ep{
  display: flex;
  flex-direction: row;
  align-items: start;
  font-size: 18px;
  color: #2d2d34;
  text-align: left;
}

.p{
  padding-left: 20px;
}