html {
  background: #f8fbff;
}
 
/*login page*/
.login{
  text-align: center;
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
	color: white;
}
 
.loginBox{
  position: absolute;
  width: 20%;
  height: 45%;
  background-color: #4856f5;
  box-shadow: 8px 8px 8px 8px rgb(122, 122, 122);
  border-radius: 25px;
  padding: 35px;
  top: 20%;
  left: 37%;
}

.loginBox input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.loginBox button{
  background-color: #f8fbff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 27px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
}

.loginBox button:hover{
  background-color: #727272;
  color: white;
}



/* create Ticket  */

.title{
  padding-left: 200px;
}

.createTicket input{
  border-radius: 10px;
  padding: 10px;
  background: #eff0f1;
  border-color: #eff0f1;
}

.container{
  padding-left: 200px;
  font-size: 18px;
  text-align:left;
}

.createTicket textarea{
  border-radius: 10px; 
  padding: 10px;
  border: 1px solid #2d2d34;
  background: #eff0f1;
  height: 300px;
  width: 750px;
  resize: none;
  border-color: #eff0f1;
}

.createTicket{
  padding-top: 0%;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: start;
}



/* menu  */

.sidenav {
  height: 100%;
  width: 200px;
  background-color: #4856f5;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ffefd3;
  background-color: #4856f5;
  display: block;
  text-align: center;
  border-style:solid;
  border-color: #4856f5;
  border-width: 1px;
}

.sidenav a:hover {
  background-color: #727272;
  color: white;
}



/* tech search  */

.Header{
  text-align: center;
}
  
.main-content {
  margin-left: 200px; /* Same width as sidenav */
  padding: 0px 20px;
    
}

.searchbar{
  text-align: center;
  padding-top: 5%;
}

.labels{
  padding-top: 5%;
  padding-left: 0px;
}


.labels label{
  padding-left: 150px;
}

.results p {
  height: 50px;
  padding-left: 20px;
  background-color: #ffefd3;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px; 
}

.results p:hover{
  background-color:#adb6c4;
}



/* ticket search  */

.ticketinfo {
  padding-left: 200px; /* Adjust the margin as needed */
}

/* docs page */
.doc-button {
  padding-left: 200px;
}

.documentcontent{
  color: red;
}

.doc_content{
  color: #4856f5;
}
#doc_content{
  color: #4856f5;
}