html {
    background: #f8fbff;
}
 
 /*login page*/
 #blur{
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
	color: white;
}
 
#clear{
    position: absolute;
    width: 20%;
    height: 45%;
    background-color: #4856f5;
    box-shadow: 8px 8px 8px 8px rgb(122, 122, 122);
    border-radius: 25px;
    padding: 35px;
    top: 20%;
    left: 37%;
}

#clear input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#clear button{
  background-color: #f8fbff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 27px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
}

#clear button:hover{
  background-color: #727272;
  color: white;
}
